<form role="form">

	<h2>Titre</h2>

	<div class="form-group">
		<label for="title_title">Titre du site: </label>
		<input id="title_title" type="text" class="form-control" ng-model="preferences.site.title">
	</div>

	<div class="form-group">
		<label for="title_subtitle">Sous-titre du site: </label>
		<input id="title_subtitle" type="text" class="form-control" ng-model="preferences.site.subtitle">
	</div>

	<h2>A propos</h2>

	<div class="form-group">
		<label for="apropos_title">Titre</label>
		<input id="apropos_title" type="text" class="form-control" ng-model="preferences.apropos.title">
	</div>

	<div class="form-group">
		<label for="apropos_content">Text</label>
		<input id="apropos_content" type="text" class="form-control" ng-model="preferences.apropos.content">
	</div>


	<h2>Liens</h2>

	<button type="submit" class="btn btn-default">Submit</button>
</form>
