
<h2 style="text-align:center">Preferences du site</h2>

<!-- <form class="form-inline" role="form">

	<h2>Titre</h2>

	<div class="form-group">
		<label for="title_title">Titre du site: </label>
		<input id="title_title" type="text" class="form-control" ng-model="preferences.site.title">
	</div>

	<div class="form-group">
		<label for="title_title">Couleur</label>
		<input colorpicker class="form-control" ng-model="hexPicker.color" type="text">
	</div>

	
</form> -->


<form role="form">

	<h2>Titre</h2>

	<div class="form-group">
		<label for="title_title">Titre du site: </label>
		<input id="title_title" type="text" class="form-control" ng-model="preferences.site.title">

	</div>

	<!-- <div class="form-group">
		<label for="title_title">Couleur du titre: </label>
		<input colorpicker class="form-control" ng-model="hexPicker.color" type="text">		
	</div> -->

	<div class="form-group">
		<label for="title_subtitle">Sous-titre du site: </label>
		<input id="title_subtitle" type="text" class="form-control" ng-model="preferences.site.subtitle">
	</div>

	<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>

	<h2>A propos</h2>

	<div class="form-group">
		<label for="apropos_title">Titre</label>
		<input id="apropos_title" type="text" class="form-control" ng-model="preferences.apropos.title">
	</div>

	<div class="form-group">
		<label for="apropos_content">Text</label>
		<textarea id="apropos_content" class="form-control" rows="5" ng-model="preferences.apropos.content"></textarea>
		<!-- <input id="apropos_content" type="text" class="form-control" ng-model="preferences.apropos.content"> -->
	</div>

	<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>


	<h2>Liens</h2>

	
</form>
