<h2 class="page-header">Edition du profil</h2>

<div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Information</th>
            <th>Value</th>
            <th><span class="pull-right">Edit</span></th>
          </tr>
        </thead>

        <tbody ng-repeat="(key, value) in keysToValues">
          <tr>
            <td>
              <p>{{ value }}</p>
            </td>
            <td>
              <p ng-hide="isEditMode($index) == true">{{ profile[key] }}</p>
              <input type="text" ng-show="isEditMode($index) == true" ng-model="profile[key]" />
            <td>
              <button type="button" 
                      class="btn btn-primary btn-sm pull-right"
                      ng-click="editInformation($index, key)"
                      ng-hide="isEditMode($index) == true"
                      >
                       <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="button" 
                      class="btn btn-danger btn-sm pull-right"
                      ng-click="cancelEditInformation()"
                      ng-show="isEditMode($index) == true">
                      Cancel
              </button>
              <button type="button" 
                      class="btn btn-primary btn-sm pull-right"
                      ng-click="editMode = false;saveEditInformation()"
                      ng-show="isEditMode($index) == true">
                      Save
              </button>
            </td>
          </tr>
        </tbody>


      </table>
      </div>
    </div>






