<h2 class="page-header"> Gestion des Pages</h2>

<table class="table">
<thead>
<tr>
	<th>Id</th>
	<th>Titre</th>
	<th></th>
</thead>
<tbody>
	<tr ng-repeat="page in pages">
	<td>{{page._id}}</td>
	<td>{{page.title}}</td>
	<td><a ui-sref="dashboard.editPage({id : page._id})" class="btn btn-default">Modifier</a>
			<button class="btn btn-default btn-sm" ng-click="deletepage(page._id)">Supprimer</a></td>
	</tr>
	<tr>
		<td/>
		<td/>
		<td>
			<a ui-sref="dashboard.createPage" class="btn btn-primary">Ajouter une Page</a>
		</td>
	</tr>
<tbody>
</table>
