<div ng-show="isUserConnected()" style="padding-bottom: 50px;"> 
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboard.home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> MyWordPress Mini-DashBoard</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="dashboard.home"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Aller au Dashboard</a></li>
                    <li><a ui-sref="dashboard.preferences"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Préférences</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Aide</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="blog-masthead" id="top-scroll" name="top" ng-style="{ 'background-color': preferences.site.titlecolor }">
    <div class="container">
        <div class="navbar-header navbar-default blog-masthead ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-col" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="blog-nav navbar-left navbar-collapse collapse navbar-col">
            <a ng-class="{ active: isActiveHeader('site.home')}" class="blog-nav-item" ui-sref="site.home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</a>
            <a ng-class="{ active: isActiveHeaderPage('{{menu.page}}')}" class="blog-nav-item" ng-repeat="menu in menus" ui-sref="site.pages({id : menu.page})"> {{menu.name}}</a>
        </nav>

        <div ng-hide="isUserConnected()" >
            <nav class="blog-nav navbar-right navbar-collapse collapse navbar-col">
                <a ng-class="{ active: isActiveHeader('site.connection')}" class="blog-nav-item" ui-sref="site.connection">Connexion</a>
                <a ng-class="{ active: isActiveHeader('site.registration')}" class="blog-nav-item" ui-sref="site.registration">Inscription</a>
            </nav>
        </div>

        <div ng-show="isUserConnected()">
            <nav class="blog-nav navbar-right navbar-collapse collapse navbar-col">
                <a class="blog-nav-item" ng-class="{ active: isActiveHeader('site.editprofile')}" ui-sref="site.editprofile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Bienvenue <strong>{{currentUser.firstname}}</strong></a>
                <a class="blog-nav-item" href="javascript:void(0)" ng-click="logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Déconnection</a>
            </nav>
        </div>
    </div>
</div>