        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>A propos</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">

            <form name="SearchArticleForm">
              <div class="form-group">
                <label for="description"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Recherche par mot clé:
                </label>

                <div class="input-group">
                   <input class="form-control" name="searchkeyword" type="text" id="searchkeyword" placeholder="MotClé1, MotClé2, ..." ng-model="keywords" ng-list=",">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search(keywords)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
                  </span>
                </div><!-- /input-group -->
            </form>

            <!--<h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>-->
          <div class="sidebar-module">
            <h4>Ailleurs sur le web</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->